__pycache__/
.ipynb_checkpoints
.mypy_cache
env/
*env*
*egg-info
.coverage
*.so
*.o
*build
.coverage*
htmlcov

# data files
*.blosc
*.hdf5
*.h5
*.npz
*.npy
*.pt
*.pth
*.pkl
*ckpt
*.jld
*.mp4
*.xyz
*.ply
*.zip
*.raw
test/data
test/temp
test/tmp
animation
*cache*
# images
*.pdf
*.svg
*.eps
*.png

# logs
logs

# TeX
*.aux
*.bbl
*.blg
*.brf
*.log
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*-blx.bib
*.run.xml
*.xdv
